<div class="app-wrapper">
  <div class="layout-wrapper">
    <div class="label-wrapper">
      <label *ngFor="let section of sections" class="layout-label">
        <input
        class="layout-label__input"
        type="radio"
        name="component-radio"
        value="{{section.appCompName}}"
        (change)="sectionChanged($event)"
        [checked]="section.defaultChecked">
        <div class="layout-label__title-block">{{section.title}}</div>
      </label>
    </div>
    <app-layout class="section" [currentSection]="currentSection"></app-layout>
  </div>
</div>
